# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/languages

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
/web/app/db.php
/.idea

# Frontend
node_modules/
*.pydevproject
.project
.metadata
.phprc
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.idea
.idea/
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.sublime-project
*.sublime-workspace
sftp-config.json
sftp-config-alt.json
.svn/
/*.iml
*.ipr
*.iws
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.gradle
.target
.texlipse
.DS_STORE
yarn-error.log
Generated_Code/
*.Cache
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
*.dotCover
_TeamCity*
*.cachefile
*.remote-sync.json

# Add plugins
!web/app/mu-plugins/tarteaucitron
!web/app/plugins/advanced-custom-fields-pro
!web/app/plugins/appointment-scheduler-pro
!web/app/plugins/portail-gate-appointment-scheduler
!web/app/plugins/acfml
!web/app/plugins/contact-form-7-multilingual
!web/app/plugins/sitepress-multilingual-cms
!web/app/plugins/wpml-media-translation
!web/app/plugins/wpml-string-translation
!web/app/plugins/wpml-translation-management
!web/app/plugins/wp-seo-multilingual
/composer.lock
