
{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - project_short_name
 * - css_files
 * - js_files
 * - html_files
 * - favicon_url
 * - img_url
 * - lang_code
 * - lang_code_extended
 * - favicon_color
 *
 */
#}
<header id="header" class="header inter">
    <div class="block-header">
        <div class="wrapper">
            <a href="#" class="logo" title="Portail Gate">
                <img src="{{ img_url }}logo.png" class="img" alt="Portail Gate logo">
                <img src="{{ img_url }}logo-white.png" class="img-sticky" alt="Portail Gate logo">
            </a>
            <a href="#" class="btn-search-mobile" title="Recherche"><i class="i-search"></i></a>
            <a href="#" class="btn-collapse" title="">
                <span class="left"></span>
                <span class="right"></span>
                <span class="sr-only">Menu</span>
            </a>

            <div class="wrap-collapse">
                <div class="feature" style="background-image: url('{{ img_url }}menu.png')"></div>

                <nav class="main-nav" role="navigation">
                    <div class="wrap">
                        <a href="#" class="logo-nav" title="Portail Gate"><img src="{{ img_url }}logo-white.png" alt="Portail Gate logo"></a>
                        <ul class="main-menu">
                            <li class="is-active"><a href="#">Accueil</a></li>
                            <li><a href="#">Découvrir le GATE</a></li>
                            <li><a href="#">Informations pratiques</a></li>
                            <li><a href="#">Préparer son arrivée</a></li>
                            <li><a href="#">Ils en parlent</a></li>
                            <li><a href="#">Partenaires et RDV</a></li>
                            <li><a href="#">Les évènements du GATE</a></li>
                        </ul>
                        <div class="contact">
                            <a href="#" class="help"><i class="i-question"></i><span>Aide</span></a>
                            <a href="mailto:" class="mail"><i class="i-email"></i><span>Contact</span></a>
                            <div class="multi-lang">
                                <ul>
                                    <li class="is-active fr"><a href="#">FR</a></li>
                                    <li class="en"><a href="#">EN</a></li>
                                </ul>
                            </div>
                        </div>
                        <ul class="site-info">
                            <li><a href="#">Mention légales</a></li>
                            <li>.</li>
                            <li><a href="#">Chartes des données personnelles</a></li>
                            <li>.</li>
                            <li><a href="#">Plan du site</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div id="search" class="block-search">
        <form action="#" class="form-default form-search" method="get">
            <div class="input-wrap">
                <input id="input-s" type="text" placeholder="Recherche" class="input-field">
                <label class="input-label" for="input-s">
                    <button class="btn-submit" type="submit"></button>
                    <span class="input-label-content">Recherche</span>
                </label>
            </div>
        </form>
    </div>
</header>
