
{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - project_short_name
 * - css_files
 * - js_files
 * - html_files
 * - favicon_url
 * - img_url
 * - lang_code
 * - lang_code_extended
 * - favicon_color
 *
 */
#}

<div class="block-content-page has-sidebar mt-0">
   <div class="wrapper">
       <div class="content-page">
           <div class="editor-cms">
               <h3><i class="i-plus-o"></i>En détail</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel purus ultricies est eleifend molestie eu quis risus. Donec venenatis, enim ultrices tempor cursus, enim turpis lobortis ex, nec pretium velit enim quis felis. Sed commodo nisl nisi, a aliquam mi congue in. Mauris non augue euismod, facilisis dui id, pharetra risus. Phasellus non odio in metus faucibus scelerisque id sit amet risus. Curabitur vel ultrices mauris, quis vehicula diam :</p>
               <ul>
                   <li>Lundi, mardi de 14h-17h</li>
                   <li>Mercredi de 16h à 18h</li>
                   <li>Vendredi de 13h à 15h</li>
               </ul>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel purus ultricies est eleifend molestie eu quis risus. Donec venenatis, enim ultrices tempor cursus, enim turpis lobortis ex, nec pretium velit enim quis felis. Sed commodo nisl nisi, a aliquam mi congue in. Mauris non augue euismod, facilisis dui id, pharetra risus. Phasellus non odio in metus faucibus scelerisque id sit amet risus. Curabitur vel ultrices mauris, quis vehicula diam :</p>
           </div>
       </div>

       <div class="sidebar">
           {#<form action="#" method="post" class="form-partner">#}
               {#<p class="title">Prise de rendez en ligne</p>#}
               {#<div class="form-step is-active">#}
                  {#<div class="form-group">#}
                      {#<label for="">Motif du rendez-vous</label>#}
                      {#<select name="" id="" class="select2">#}
                          {#<option value="">Lorem ipsum</option>#}
                          {#<option value="">Lorem ipsum 1</option>#}
                          {#<option value="">Lorem ipsum 2</option>#}
                      {#</select>#}
                  {#</div>#}
                   {#<div class="form-group">#}
                       {#<label for="">Selectionner la date</label>#}
                       {#<input type="text" placeholder="23/05/2019">#}
                   {#</div>#}
                   {#<a href="#" class="btn-default" tabindex="0"><i class="i-calendar"></i>Prendre rendez-vous</a>#}
               {#</div>#}
               {#<div class="form-step">#}
                   {#<span class="icon"><i class="i-check"></i></span>#}
                   {#<p class="des">Votre rendez-vous est bien enregistré pour le</p>#}
                   {#<p class="datetime">Lundi 25 mai 2019</p>#}
               {#</div>#}
           {#</form>#}
           <div class="form-partner">
               <p class="title">Prise de rendez en ligne</p>
               <div class="ap_wrapper1">
                   <div id="img-thumbnail" class="img-thumbnail ap-dashboard ap-front">


                       <div id="change-loader" class="change-loader">
                           <div id="change-loader-inner"></div>
                       </div>
                       <div id="ap_fornt_main_div" style="">
                           <div class="row ap-logo">

                           </div>
                           <!-- Step 4 -->
                           <div id="step4" class="ap_class_active" style="display: block;">
                               <script>
                                   //alert("loginfile2");
                                   document.getElementById('client_username_detail').innerHTML = '<strong>Username: &nbsp;</strong>' +  'admin';
                                   document.getElementById('client_fullname_detail').innerHTML = '<strong>Nom complet: &nbsp;</strong>' + ' ';
                                   document.getElementById('client_email_detail').innerHTML = '<strong>Email: &nbsp;</strong>' + 'troi.hoang@fidesio.com';

                                   jQuery('.ap_payment_customer').val(' ');
                                   document.getElementById('date_detail').innerHTML = '<strong>Date: &nbsp;</strong>' + '30 mai 2019';
                                   document.getElementById('time_detail').innerHTML = '<strong>Horaire : &nbsp;</strong>' + '10 h 40 min';

                                   jQuery('.client_email_address').val('troi.hoang@fidesio.com');

                                   document.getElementById('client_contact_detail').innerHTML = '<strong>Téléphone: &nbsp;</strong>' + '';
                                   jQuery('.ap_client_contact_detail').val('');
                                   document.getElementById('client_skype_detail').innerHTML = '<strong>Skype Id.: &nbsp;</strong>' + '';
                                   jQuery('.ap_email_notification').val('troi.hoang@fidesio.com');
                                   jQuery('.ap_payment_date').val(appointment_date);
                                   jQuery('.ap_staff_id').val(appointment_staff);
                                   jQuery('.appoint_staff_id').val(appointment_staff);
                                   //jQuery('.ap_location_id').val(ap_location_id);

                                   document.getElementById('staff_detail').innerHTML = '<strong>Staff Member : &nbsp;</strong>' + 'Partenaire 01';
                                   jQuery('.ap_payment_staff').val('Partenaire 01');
                                   jQuery('.ap_payment_staff_email').val('');



                                   jQuery("#appt_confirm").show();
                                   jQuery("#payment_confirm").hide();



                                   document.getElementById('service_detail').innerHTML = '<strong>Motif du rendez-vous : &nbsp;</strong>' + 'Partenaire 01 - Service 2';
                                   document.getElementById('service_price').innerHTML = '<strong>Price : &nbsp;</strong>' + '0.00 ';


                                   document.getElementById('service_duration').innerHTML = '<strong>Duration : &nbsp;</strong>' + '40minutes' ;

                                   jQuery('.ap_booking_end_time').val('40 minutes');
                                   jQuery('.ap_payment_service').val('Partenaire 01 - Service 2');


                                   jQuery('.ap_payment_amount').val('0.00 USD');
                                   jQuery('#c_service_price').val('0.00');
                                   jQuery('.service_tag').text('Partenaire 01 - Service 2');
                                   jQuery('.service_price_tag').text('0.00 USD');
                                   jQuery('.ap_booking_start_time').val('10:40');
                                   jQuery('.ap_payment_service_id').val('3');
                               </script>

                               <form style="margin-bottom: 0;" action="" method="POST" id="confirm_appointment" name="confirm_appointment">
                                   <!-- Step 4 -->
                                   <div id="4" class="ap-steps-detail5 2">
                                       <div class="col-md-6 col-sm-6">
                                           <p id="service_detail"><strong>Motif du rendez-vous : &nbsp;</strong>Partenaire 01 - Service 2</p>
                                           <p id="service_price" style="display:none !important"><strong>Price : &nbsp;</strong>0.00 </p>
                                           <p id="service_duration" style="display:none !important"><strong>Duration : &nbsp;</strong>40minutes</p>
                                           <p id="staff_detail" style="display:none !important"><strong>Staff Member : &nbsp;</strong>Partenaire 01</p>
                                           <p id="time_detail"><strong>Horaire : &nbsp;</strong>10 h 40 min</p>
                                           <p id="date_detail"><strong>Date: &nbsp;</strong>30 mai 2019</p>
                                       </div>
                                       <div class="col-md-6 col-sm-6">
                                           <p id="client_username_detail" style="display:none !important"><strong>Username: &nbsp;</strong>admin</p>
                                           <p id="client_fullname_detail"><strong>Nom complet: &nbsp;</strong> </p>
                                           <p id="client_email_detail"><strong>Email: &nbsp;</strong>troi.hoang@fidesio.com</p>
                                           <p id="client_contact_detail"><strong>Téléphone: &nbsp;</strong></p>
                                           <p id="client_skype_detail" style="display:none !important"><strong>Skype Id.: &nbsp;</strong></p>
                                       </div>
                                       <input type="hidden" class="ap_email_notification" name="ap_email_notification" value="troi.hoang@fidesio.com">
                                       <input type="hidden" class="ap_payment_customer" name="ap_payment_customer" value=" ">
                                       <input type="hidden" class="ap_payment_staff" name="ap_payment_staff" value="Partenaire 01">
                                       <input type="hidden" class="ap_payment_date" name="ap_payment_date" value="05/30/2019">
                                       <input type="hidden" class="ap_payment_service" name="ap_payment_service" value="Partenaire 01 - Service 2">
                                       <input type="hidden" class="ap_payment_amount" name="ap_payment_amount" value="0.00 USD">
                                       <input type="hidden" class="ap_payment_staff_email" name="ap_payment_staff_email" value="">
                                       <input type="hidden" class="ap_client_contact_detail" name="ap_client_contact_detail" value="">
                                       <input type="hidden" class="appoint_staff_id" name="appoint_staff_id" value="2">
                                       <input type="hidden" class="ap_booking_start_time" name="ap_booking_start_time" value="10:40">
                                       <input type="hidden" class="ap_booking_end_time" name="ap_booking_end_time" value="40 minutes">
                                       <input type="hidden" class="client_email_address" name="client_email_address" value="troi.hoang@fidesio.com">
                                       <input type="hidden" class="appoint_unique_id" name="appoint_unique_id" value="5ceac2e97b92b">
                                       <input type="hidden" class="ap_payment_service_id" name="ap_payment_service_id" value="3">
                                       <input type="hidden" class="ap_location_id" name="ap_location_id" value="2">

                                       <input type="hidden" class="razorpay_amount" name="razorpay_amount" value="0">

                                       <div style="" class="col-md-12 col-sm-12 confirm-link" id="appt_confirm">
                                           <p>
                                               <strong>Do you want to confirm Appointment ? </strong>
                                           </p>
                                       </div>


                                   </div>
                                   <!-- Step 4 -->
                                   <div class="ap-step-link">
                                       <a id="stepback4" href="#step2" onclick="return step4_back();" class="btn-default btn-step-left" data-toggle="tab" aria-expanded="false">Précédent</a>
                                       <button id="stepnext4" name="stepnext4" href="#step5" type="button" onclick="return step4_next();" class="btn-default btn-step-right">Confirmer mon rdv</button>
                                   </div>
                               </form>
                           </div>

                           <div id="step4" class="ap_class_active" style="display: block;">

                               <div class="col-md-12 col-sm-12 step3-form">
                                   <center><p>Email Does Not Exist,Please Register Your Account</p></center><br><center>Thank You</center><p></p>
                               </div>

                               <div class="ap-step-link">
                                   <a id="stepnext2" onclick="return step2_next();" class="btn step-right" data-toggle="tab" aria-expanded="false">Try Again</a>
                               </div>

                           </div>

                       </div>
                   </div>

               </div>
               <style>
                   #staff_off_text{
                       color: #337ab7 !important;
                   }

                   .alert_box{
                       background: #304CD8;
                       background: -webkit-linear-gradient(left, #304CD8 0%, #9F3762 100%);
                       background: -ms-linear-gradient(left, #304CD8 0%, #9F3762 100%);
                       background: linear-gradient(to right, #304CD8 0%, #9F3762 100%);
                       color: #fff;
                       font-size: 25px;
                       padding: 35px;
                       text-align: center;
                   }

                   #dd-w-0 .dd-c .dd-s{
                       background:#337ab7 !important;
                   }
                   .step3-form {
                       min-height: 90px !important;
                   }
                   #date_01{
                       height:70px !important;
                       line-height: 70px;
                       width: 100%;
                       border-radius: 5px;
                       text-align:center;
                   }

                   /*.ap-steps-detail1 p{
                       float:left !important;
                   }*/
                   .ap-steps-detail1 p{
                       padding-left: 20px;
                       padding-right: 20px;
                   }
                   /*.ap-steps-detail3 p{
                       float:left !important;
                   }*/
                   .ap-steps-detail3 p{
                       padding-right: 20px;
                       padding-left: 20px;
                   }
                   .swiper-container{
                       overflow:visible !important;
                   }
                   .signup-info{
                       clear:both !important;
                   }
                   .service_tag, .staff_tag, .date_tag, .service_price_tag, .time_tag {

                       font-style: oblique !important;
                   }
                   #date_01{
                       font-size:30px !important;
                   }
                   .b_closed{
                       font-size:25px !important;
                   }
                   input[type="tel"]{
                       padding-left: 50px !important;
                   }
                   #app_business_name{
                       font-size:18px !important;
                       padding-top:10px !important;
                   }
                   #appoint_register, #appoint_login{
                       color: #fff !important;
                       background-color: #f0ad4e !important;;
                       border-color: #eea236 !important;;
                   }

                   #register_button{
                       color: #fff !important;
                       background-color: #c9302c !important;
                       border-color: #ac2925 !important;
                   }

                   #login_button{
                       color: #fff !important;
                       background-color: #449d44 !important;
                       border-color: #398439 !important;
                   }
                   #img-thumbnail img{
                       transform: none !important;
                       transition: none !important;
                   }
                   .ap-steps .active span , .ap-steps .complete span, .ap-step-link .step-right,.ap-step-link .step-left, .aps-date .tm-value,.step4-form .save ,.social-info .social li{
                       background-color:#337ab7 !important;
                   }
                   .ap-dashboard .form-control:focus, .stp-duration li {
                       border: 2px solid #337ab7 !important;
                   }
                   .stp-duration .tm-value {
                       color: #337ab7 !important;
                   }

                   .app_logo img {
                       height: 150px !important;
                       width: 150px !important;
                   }



                   #ap_slots{
                       width:24% !important;
                   }

                   .social-info {
                       margin-top: 80px !important;
                   }

                   .pre_bg{
                       background-color:white !important;
                   }

                   div#existing:focus ,div#new:focus {
                       outline: none !important;
                   }
               </style>
           </div>
       </div>
   </div>
</div>
