
{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - project_short_name
 * - css_files
 * - js_files
 * - html_files
 * - favicon_url
 * - img_url
 * - lang_code
 * - lang_code_extended
 * - favicon_color
 *
 */
#}

<div class="block-events is-full mt-0">
    <div class="wrapper">
        <div class="heading"><h2>Évènements è venir</h2></div>
        <p class="no-event">Plus aucun d'évènements en cours</p>
    </div>
</div>

<div class="block-events is-past is-full mt-0">
    <div class="wrapper">
        <div class="heading"><h2>Évènements è venir</h2></div>
        <div class="list-events">
            <div class="item">
                <div class="left">
                    <div class="datetime"><span class="date">16</span><span class="month">AVR</span></div>
                </div>
                <div class="right">
                    <p class="title">Séminaire d’aide administrative par la CAF.</p>
                    <div class="des">
                        <p class="time"><i class="i-clock"></i>De 14h à 19h30 </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non lectus tortor. Mauris enim risus, sollicitudin id libero ut, pharetra faucibus ex. Nam ut facilisis lacus. Mauris vehicula eros dui, nec dignissim orci malesuada a. Fusce eu leo lacinia, volutpat ipsum et, volutpat magna. Nullam id eros massa.</p>
                    </div>
                </div>
                <a href="#" class="btn-default"><span>Fermer</span><span>Lire +</span></a>
            </div>
            <div class="item">
                <div class="left">
                    <div class="datetime"><span class="date">17</span><span class="month">AVR</span></div>
                </div>
                <div class="right">
                    <p class="title">Le GATE réouvrira ses portes à l’Université Paris-Sud, dès le mois de juin.</p>
                    <div class="des">
                        <p class="time"><i class="i-clock"></i>De 14h à 19h30 </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non lectus tortor. Mauris enim risus, sollicitudin id libero ut, pharetra faucibus ex. Nam ut facilisis lacus. Mauris vehicula eros dui, nec dignissim orci malesuada a. Fusce eu leo lacinia, volutpat ipsum et, volutpat magna. Nullam id eros massa.</p>
                    </div>
                </div>
                <a href="#" class="btn-default"><span>Fermer</span><span>Lire +</span></a>
            </div>
            <div class="item">
                <div class="left">
                    <div class="datetime"><span class="date">20</span><span class="month">AVR</span></div>
                </div>
                <div class="right">
                    <p class="title">Le GATE réouvrira ses portes à l’Université Paris-Sud, dès le mois de juin.</p>
                    <div class="des">
                        <p class="time"><i class="i-clock"></i>De 14h à 19h30 </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non lectus tortor. Mauris enim risus, sollicitudin id libero ut, pharetra faucibus ex. Nam ut facilisis lacus. Mauris vehicula eros dui, nec dignissim orci malesuada a. Fusce eu leo lacinia, volutpat ipsum et, volutpat magna. Nullam id eros massa.</p>
                    </div>
                </div>
                <a href="#" class="btn-default"><span>Fermer</span><span>Lire +</span></a>
            </div>
            <div class="item">
                <div class="left">
                    <div class="datetime"><span class="date">20</span><span class="month">AVR</span></div>
                </div>
                <div class="right">
                    <p class="title">Le GATE réouvrira ses portes à l’Université Paris-Sud, dès le mois de juin.</p>
                    <div class="des">
                        <p class="time"><i class="i-clock"></i>De 14h à 19h30 </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non lectus tortor. Mauris enim risus, sollicitudin id libero ut, pharetra faucibus ex. Nam ut facilisis lacus. Mauris vehicula eros dui, nec dignissim orci malesuada a. Fusce eu leo lacinia, volutpat ipsum et, volutpat magna. Nullam id eros massa.</p>
                    </div>
                </div>
                <a href="#" class="btn-default"><span>Fermer</span><span>Lire +</span></a>
            </div>
            <div class="item">
                <div class="left">
                    <div class="datetime"><span class="date">16</span><span class="month">AVR</span></div>
                </div>
                <div class="right">
                    <p class="title">Séminaire d’aide administrative par la CAF.</p>
                    <div class="des">
                        <p class="time"><i class="i-clock"></i>De 14h à 19h30 </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non lectus tortor. Mauris enim risus, sollicitudin id libero ut, pharetra faucibus ex. Nam ut facilisis lacus. Mauris vehicula eros dui, nec dignissim orci malesuada a. Fusce eu leo lacinia, volutpat ipsum et, volutpat magna. Nullam id eros massa.</p>
                    </div>
                </div>
                <a href="#" class="btn-default"><span>Fermer</span><span>Lire +</span></a>
            </div>
            <div class="item">
                <div class="left">
                    <div class="datetime"><span class="date">17</span><span class="month">AVR</span></div>
                </div>
                <div class="right">
                    <p class="title">Le GATE réouvrira ses portes à l’Université Paris-Sud, dès le mois de juin.</p>
                    <div class="des">
                        <p class="time"><i class="i-clock"></i>De 14h à 19h30 </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non lectus tortor. Mauris enim risus, sollicitudin id libero ut, pharetra faucibus ex. Nam ut facilisis lacus. Mauris vehicula eros dui, nec dignissim orci malesuada a. Fusce eu leo lacinia, volutpat ipsum et, volutpat magna. Nullam id eros massa.</p>
                    </div>
                </div>
                <a href="#" class="btn-default"><span>Fermer</span><span>Lire +</span></a>
            </div>
        </div>
        <div class="loadmore"><a href="#" title="Load more"><i class="i-arrow-down"></i></a></div>
    </div>
</div>
