
{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - project_short_name
 * - css_files
 * - js_files
 * - html_files
 * - favicon_url
 * - img_url
 * - lang_code
 * - lang_code_extended
 * - favicon_color
 *
 */
#}

<div class="block-content-page">
   <div class="wrapper">
       <div class="editor-cms">
           <div class="wrap">
               <h2>Fusce tristique volutpat maximus</h2>
               <h3>Lorem ipsum dolor sit amet</h3>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel purus ultricies <strong>est eleifend molestie</strong> eu quis risus. Donec venenatis, enim ultrices tempor cursus, enim turpis lobortis ex, nec pretium velit enim quis felis. Sed commodo nisl nisi, a aliquam mi congue in. Mauris non <a href="#">augue euismod</a> , facilisis dui id, pharetra risus. Phasellus non odio in metus faucibus scelerisque id sit amet risus. Curabitur vel ultrices mauris, quis vehicula diam :</p>
               <ul>
                   <li>Nam dictum ultrices magna</li>
                   <li>Donec ac tortor neque</li>
                   <li>Maecenas sit amet magna odio</li>
               </ul>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel purus ultricies est eleifend molestie eu quis risus. Donec venenatis, enim ultrices tempor cursus, enim turpis lobortis ex, nec pretium velit enim quis felis. Sed commodo nisl nisi, a aliquam mi congue in. Mauris non augue euismod, facilisis dui id, pharetra risus. Phasellus non odio in metus faucibus scelerisque id sit amet risus. Curabitur vel ultrices mauris, quis vehicula diam.</p>
           </div>
       </div>
   </div>

    <div class="wrapper">
        <div class="editor-cms">
            <figure>
                <img src="{{ img_url }}editor.png" alt="">
            </figure>
        </div>
    </div>

    <div class="wrapper">
        <div class="editor-cms">
            <div class="wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel purus ultricies est eleifend molestie eu quis risus. Donec venenatis, enim ultrices tempor cursus, enim turpis lobortis ex, nec pretium velit enim quis felis. Sed commodo nisl nisi, a aliquam mi congue in. Mauris non augue euismod, facilisis dui id, pharetra risus. Phasellus non odio in metus faucibus scelerisque id sit amet risus. Curabitur vel ultrices mauris, quis vehicula diam.</p>
                <blockquote class="alignleft"><p>Nunc dapibus dolor mattis rhoncus pharetra. Vestibulum ante ipsum primis in faucibus orci luctus</p></blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel purus ultricies est eleifend molestie eu quis risus. Donec venenatis, enim ultrices tempor cursus, enim turpis lobortis ex, nec pretium velit enim quis felis. Sed commodo nisl nisi, a aliquam mi congue in. Mauris non augue euismod, facilisis dui id, pharetra risus. Phasellus non odio in metus faucibus scelerisque id sit amet risus. Curabitur vel ultrices mauris, quis vehicula diam.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel purus ultricies est eleifend molestie eu quis risus. Donec venenatis, enim ultrices tempor cursus, enim turpis lobortis ex, nec pretium velit enim quis felis. Sed commodo nisl nisi, a aliquam mi congue in. Mauris non augue euismod, facilisis dui id, pharetra risus. Phasellus non odio in metus faucibus scelerisque id sit amet risus. Curabitur vel ultrices mauris, quis vehicula diam.</p>
            </div>
        </div>
    </div>

    {% include '_statistic.twig' %}

    <div class="wrapper">
        <div class="editor-cms">
            <div class="wrap">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod est risus, eget consectetur augue blandit mollis. Integer posuere ornare nisl. Maecenas eu lorem et elit egestas pulvinar ut id nulla. Cras ut euismod nunc, a eleifend justo. Cras maximus posuere ligula vitae laoreet. Quisque tincidunt tortor nec vehicula pretium. Praesent ligula augue, venenatis a tellus vel, ornare fringilla dui. Nunc cursus efficitur fermentum. Pellentesque id sapien aliquet, imperdiet nisi a, pellentesque est. Fusce semper turpis eget viverra viverra. Quisque a fermentum nisl. Phasellus pharetra tristique ullamcorper. Suspendisse potenti. Maecenas at convallis felis, ut semper nisi.</p>
                <p>Nam laoreet nisl ex. Cras in sagittis mi. Cras suscipit pharetra eros sed sollicitudin. Cras quis diam non ipsum vulputate rutrum. Cras a efficitur massa, a tempus lorem. Vivamus efficitur, lorem vitae consectetur pretium, nibh nulla posuere orci, sit amet tempor mauris lacus vel ipsum. Nullam placerat ut diam sed vulputate. Nulla venenatis tempus tempor. Duis mauris nulla, accumsan vitae egestas a, vestibulum a mi. Vestibulum sed metus eros. Nullam eros mauris, condimentum ac bibendum a, faucibus in nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ut ultricies metus.</p>
            </div>
        </div>
    </div>

    {% include '_text.twig' %}
</div>
