
{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - project_short_name
 * - css_files
 * - js_files
 * - html_files
 * - favicon_url
 * - img_url
 * - lang_code
 * - lang_code_extended
 * - favicon_color
 *
 */
#}

<div class="block-feature mt-0">
    <div id="breadcrumbs" class="breadcrumbs">
        <div class="wrapper">
            <!-- Breadcrumb NavXT 6.3.0 -->
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Go to Accueil." href="https://portail-gate.parissaclay.staging.fides.io" class="home">
                    <span property="name">Accueil</span></a>
                <meta property="position" content="1">
            </span>
            <span class="post post-page current-item">Cms</span>
        </div>
    </div>
    <div class="content">
        <h1 class="title-5">Lorem ipsum dolor</h1>
        <div class="des">
            <p>Fusce tristique volutpat maximus. Cras lectus neque, fermentum nec ante eget, lacinia pulvinar tellus. Nam vitae nunc quis nulla faucibus feugiat nec in nunc. Mauris vitae massa ac mi eleifend lobortis. Integer feugiat ac ipsum vitae laoreet. Fusce ut egestas purus, ac luctus nunc.</p>
            <p>Sed ut maximus diam. Sed tortor eros, lobortis at dolor ac, gravida convallis purus. Sed a magna urna. Maecenas laoreet dui vehicula dictum rhoncus. </p>
        </div>
    </div>
    <div class="feature" style="background-image: url('{{ img_url }}cms.png')"></div>
</div>
