
{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - project_short_name
 * - css_files
 * - js_files
 * - html_files
 * - favicon_url
 * - img_url
 * - lang_code
 * - lang_code_extended
 * - favicon_color
 *
 */
#}

<div class="block-statistic mt-0">
    <div class="wrapper">
        <div class="content">
            <h2>Lorem ipsum</h2>
            <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ex dolor, ornare et tellus id, vestibulum semper ligula. Ut vel est lorem. Duis purus erat, facilisis sit amet velit sed, efficitur venenatis felis. Vivamus risus tortor.</p>
            <a href="#" class="btn-arrow">Lorem ipsum <i class="i-arrow-right"></i></a>
        </div>
        <div class="list-statistic">
            <div class="item">
                <span class="icon"><i class="i-book"></i></span>
                <span class="num">60</span>
                <span class="title">lorem ipsum dolor</span>
            </div>
            <div class="item">
                <span class="icon"><i class="i-flask"></i></span>
                <span class="num">300</span>
                <span class="title">lorem ipsum dolor</span>
            </div>
            <div class="item">
                <span class="icon"><i class="i-reading"></i></span>
                <span class="num">65</span>
                <span class="title">lorem ipsum dolor</span>
            </div>
            <div class="item">
                <span class="icon"><i class="i-startup"></i></span>
                <span class="num">100</span>
                <span class="title">lorem ipsum dolor</span>
            </div>
            <div class="item">
                <span class="icon"><i class="i-studyblack"></i></span>
                <span class="num">20</span>
                <span class="title">lorem ipsum dolor</span>
            </div>
            <div class="item">
                <span class="icon"><i class="i-innovation"></i></span>
                <span class="num">28</span>
                <span class="title">lorem ipsum dolor</span>
            </div>
        </div>
    </div>
</div>
