.block-infomations {
	position: relative;

	&.type2 {
		.map {
			display: block;
		}
	}

	@media screen and (min-width: $desktop-medium) {
		&:before {
			content: '';
			position: absolute;
			width: calc((1250px/12*5));
			height: 416px;
			right: calc((100% - 1250px)/2);
			bottom: -40px;
			background-color: $color7;
		}

		&.type2 {
			&:before {
				content: none;
			}
		}
	}

	&.type2 {
		.wrapper {
			display: block;
		}

		.content {
			padding: 0;
			width: 100%;

			.list-address {
				.item {
					@media screen and (min-width: $tablet-small) {
						padding-left: 50px;

						&:nth-child(2n+1) {
							border-left: 0;
						}
					}

					@media screen and (min-width: $desktop-medium) {
						min-width: 25%;
						padding-left: 0;

						&:not(:first-child) {
							border-left: 1px solid $color6;
						}
					}
				}
			}
		}

		.map {
			position: static;
			width: 100%;
			margin: 50px 0;
			height: auto;
		}
	}

	.wrapper {
		position: relative;
		max-width: 1038px;
		display: flex;
		min-height: 624px;
		flex-direction: column-reverse;

		@media screen and (min-width: $tablet-medium + 1) {
			flex-direction: row;
		}

	}

	.content {
		padding: 30px 0;

		@media screen and (min-width: $tablet-medium + 1) {
			width: 60%;
			padding: 56px 0;
		}


		.list-address {
			@media screen and (min-width: $tablet-small) {
				display: flex;
				flex-wrap: wrap;
			}

			.item {
				margin-top: 30px;
				border-bottom: 1px solid $color6;
				padding-bottom: 30px;

				@media screen and (min-width: $tablet-small) {
					flex-grow: 1;
					flex-basis: 0;
					border-bottom: 0;
					margin-top: 50px;
					min-width: 50%;
					padding-bottom: 0;

					&:not(:last-child) {
						padding-right: 20px;
					}

					&:not(:first-child) {
						border-left: 1px solid $color6;
					}

					+ .item {
						padding-right: 15px;
						padding-left: 50px;
					}
				}

				.icon {
					margin-bottom: 16px;

					i {
						font-size: 24px;
					}
				}

				.title {
					color: $color3;
					font-size: 17px;
					font-weight: 600;
					line-height: 22px;
					margin-bottom: 10px;
				}

				.address {
					color: $color5;
					font-size: 15px;
					line-height: 22px;
				}

				.mail {
					font-weight: 700;
					color: $color2;
					font-size: 15px;
					line-height: 22px;

					a {
						color: inherit;
					}
				}

				.phone {
					line-height: 22px;
				}

				.btn-arrow {
					margin-top: 10px;
				}
			}
		}

		.btn-arrow {
			margin-top: 30px;
		}
	}

	.feature {
		min-height: 278px;
		background-size: cover;
		flex-shrink: 0;
		background-position: center center;

		@media screen and (min-width: $tablet-medium + 1) {
			background-color: transparent;
			min-height: 624px;
			width: 40%;
		}
	}

	.map {
		position: absolute;
		@include size(640px, 223px);
		bottom: -60px;
		left: 75px;
		z-index: 1;
		display: none;

		@media screen and (min-width: $tablet-medium + 1) {
			display: block;
		}
	}
}
