
{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - project_short_name
 * - css_files
 * - js_files
 * - html_files
 * - favicon_url
 * - img_url
 * - lang_code
 * - lang_code_extended
 * - favicon_color
 *
 */
#}

<div class="block-feature mt-0">
    <div id="breadcrumbs" class="breadcrumbs">
        <div class="wrapper">
            <!-- Breadcrumb NavXT 6.3.0 -->
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" title="Go to Accueil." href="https://portail-gate.parissaclay.staging.fides.io" class="home">
                    <span property="name">Accueil</span></a>
                <meta property="position" content="1">
            </span>
            <span class="post post-page current-item">Informations pratiques</span>
        </div>
    </div>
    <div class="content">
        <h1 class="title-5">Informations pratiques</h1>
        <div class="des">
            <p>Plateforme multiservice, le GATE propose aux publics internationaux étudiant, vivant ou travaillant sur le territoire de Paris-Saclay, une offre de service centralisée permettant l’accomplissement des principales démarches administratives obligatoires à leur installation et leur séjour en France. Le GATE est ouvert pendant la période de rentrée universitaire : 26 août au 20 décembre 2019.</p>
            <p>Il est situé au sein de l’Université Paris-Sud au lieu-dit « Le Moulin », dans les locaux de la DEVE (Direction des Etudes et de la Vie Etudiante)</p>
        </div>
    </div>
    <div class="feature" style="background-image: url('{{ img_url }}img3.png')"></div>
</div>
