
{#
/**
 * @file
 *
 * Available variables
 * - project_name
 * - project_short_name
 * - css_files
 * - js_files
 * - html_files
 * - favicon_url
 * - img_url
 * - lang_code
 * - lang_code_extended
 * - favicon_color
 *
 */
#}

<div class="block-infomations type2">
    <div class="wrapper">
        <div class="content">
            <div class="list-address">
                <div class="item">
                    <div class="icon"><i class="i-location"></i></div>
                    <p class="title">Guichet d’Accueil <br>des Talents Etrangers</p>
                    <p class="address">Université Paris-Sud, Bâtiment <br>311 - Le Moulin, Rue du Château, 91405 ORSAY Cedex.</p>
                </div>
                <div class="item">
                    <div class="icon"><i class="i-clock"></i></div>
                    <p class="title">Horaires d’ouvertures du <br>26/08 au 20/12 2019</p>
                    <p class="address">Du lundi au vendredi <br>De 9h à 13h et de 14h à 16h,</p>
                </div>
                <div class="item">
                    <div class="icon"><i class="i-question-2"></i></div>
                    <p class="title">N’hésitez pas à nous contacter</p>
                    <p class="mail"><a href="mailto:lorem.ipsum@lorem.fr">lorem.ipsum@lorem.fr</a></p>
                    <div class="phone"><a href="tel:01 01 01 01 01">01 01 01 01 01</a></div>
                </div>
                <div class="item">
                    <div class="icon"><i class="i-print"></i></div>
                    <p class="title">Emportez les <br>infomations avec vous</p>
                    <a href="#" class="btn-arrow">Imprimer <i class="i-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div id="map" class="map">
            <img src="{{ img_url }}map.png" alt="Portail Gate Map">
        </div>
    </div>
</div>
